<?xml version="1.0" encoding="utf-8" ?>
<menu xmlns:android="http://schemas.android.com/apk/res/android">
  <item android:id="@+id/doneTask"
        android:icon="@drawable/mark"
        android:title="Create a new task"
        android:showAsAction="ifRoom"
        />
    <item android:id="@+id/addTask"
          android:icon="@drawable/add"
          android:title="Create a new task"
          android:showAsAction="ifRoom"
          />
    <item android:id="@+id/delTask"
            android:icon="@drawable/del"
            android:title="Delete a task"
            android:showAsAction="ifRoom"
            />
</menu>
